{{#foreach posts}}
<article class="post-list{{#unless feature_image}} no-image{{/unless}} {{post_class}}">
	{{#if feature_image}}
		{{^has tag="no-image"}}
		<a href="{{url}}" rel="bookmark">
			<div class="entry-media">
				<img src="{{img_url feature_image}}" alt="{{title}}">
			</div>
		</a>
		{{/has}}
	{{/if}}
	<div class="entry-content">
		<div class="entry-meta clearfix">
			{{#if primary_author.profile_image}}<img class="author-image" src="{{img_url primary_author.profile_image}}" alt="{{primary_author.name}}">{{/if}}
			<div class="right">
				<span class="author-name">{{primary_author.name}}</span>
				<span class="entry-date" title="{{date format="DD MMMM YYYY"}}"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
				<span class="entry-share">
					<i class="fa fa-share-alt"></i>
					<span class="popup">
						<a class="link twitter" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"><i class="fa fa-twitter"></i></a>
						<a class="link facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"><i class="fa fa-facebook"></i></a>
						<a class="link google" href="https://plus.google.com/share?url={{url absolute="true"}}"><i class="fa fa-google-plus"></i></a>
					</span>
				</span>
			</div>
		</div>

		<div class="entry-header">
			<h2 class="entry-title"><a href="{{url}}" rel="bookmark">{{title}}</a></h2>
		</div>

		<p>{{excerpt words="26"}}...</p>
	</div>
	<div class="entry-footer">
		<span class="cat-links">
			{{tags separator=""}}
		</span>
	</div>
</article>
{{/foreach}}

{{pagination}}
