<header id="masthead">
	<div id="navigation-bar" class="clearfix">
		{{#if @site.logo}}<a href="{{@site.url}}"><img class="brand-logo dark" src="{{@site.logo}}" alt="{{@site.title}}"></a>{{/if}}
		<div id="mobile-nav-toggle" class="hidden-md hidden-lg">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
		<ul class="social-links" style="display:none"></ul>
		<nav id="main-navigation">
			<ul class="nav-list clearfix">
				{{#foreach navigation}}
          <li class="menu-item nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
			</ul>
		</nav>
		<nav id="authentication">
			<ul class="nav-list clearfix">
				<li class="menu-item">
					<a id="loginBtn" href='' ></a>
					<div id="user-info" class="user-info">
					</div>
				</li>
			</ul>
		</nav>
	</div>
</header>
