{{#if fee}}
<div id="payment">
    <section class="section">
        <div class="is-fluid">
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content" id="payment-content-authenticated" style="display:none">
                            <div class="payment">
                                <br>
                                <p>Đây là bài viết có nội dung trả tiền, vui lòng thanh toán theo các thông tin hướng dẫn dưới đây</p>
                                <p class="is-size-4 has-text-grey">Ngay sau khi nhận được thanh toán, chúng tôi sẽ gửi xác nhận vào điện thoại của bạn</p>
                            </div>
                            <div class="tabs">
                            <ul>
                                <li data-payment-type="momo" class="is-active is-size-5 has-text-weight-bold" onclick="return changePaymentType(event)">
                                    <a>Momo</a>
                                </li>
                                <li  data-payment-type="transfer" class="is-size-5 has-text-weight-bold" onclick="return changePaymentType(event)">
                                    <a>Chuyển khoản</a>
                                </li>

                                <li data-payment-type="card" class="hidden" onclick="return changePaymentType(event)">
                                    <a>Card</a>
                                </li>
                            </ul>
                            </div>
                            <div class="payment-body transfer-payment hidden" data-payment-type="transfer">
                                <div class="level is-size-5">
                                    Chuyển khoản với nội dung sau
                                </div>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="">
                                            <p class="bank_transfer__label is-size-5 has-text-grey">Số tài khoản</p>
                                            <p class="bank_transfer__value is-size-4" id="bank_account">0123557686896</p>
                                        </div>
                                    </div>
                                    <div class="level-right">
                                        <a class="icon is-medium has-text-grey-light tt-copy-btn btn" title="copy" data-clipboard-target="#bank_account"><i class="fas fa-copy tt-clickable"></i></a>
                                    </div>
                                </div>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="">
                                            <p class="bank_transfer__label is-size-5 has-text-grey">Tên chủ tài khoản</p>
                                            <p class="bank_transfer__value is-size-4" id="bank_owner_name">Phạm Hà My</p>
                                        </div>
                                    </div>
                                    <div class="level-right">
                                        <a class="icon is-medium has-text-grey-light tt-copy-btn btn" title="copy" data-clipboard-target="#bank_owner_name"><i class="fas fa-copy tt-clickable"></i></a>
                                    </div>
                                </div>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="">
                                            <p class="bank_transfer__label is-size-5 has-text-grey">Ngân hàng</p>
                                            <p class="bank_transfer__value is-size-4">BIDV</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="">
                                            <p class="bank_transfer__label is-size-5 has-text-grey-light">Số tiền</p>
                                            <p class="bank_transfer__value is-size-4">{{fee}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="">
                                            <p class="bank_transfer__label is-size-5 has-text-grey">Nội dung chuyển khoản <i class="fas fa-exclamation-circle has-text-primary"></i></p>
                                            <p class="bank_transfer__value is-size-4 has-text-weight-bold" id="transfer_description">
                                                <span id="transfer_prefix">finpub</span><span>{{fp_post_code}}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="level-right">
                                        <a class="btn icon is-medium has-text-grey-light tt-copy-btn" title="copy" data-clipboard-target="#transfer_description"><i class="fas fa-copy tt-clickable"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-body momo-payment " data-payment-type="momo">
                                <div class="level is-size-4 has-text-grey">
                                    Mở app MoMo, quét mã QR hoặc nhập số điện thoại phía dưới để thanh toán.
                                </div>

                                <div class="columns">
                                    <div class="column">
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="">
                                                    <p class="bank_transfer__label is-size-5 has-text-grey">Người nhận</p>
                                                    <p class="bank_transfer__value is-size-4">Phạm Hà My</p>
                                                </div>
                                            </div>
                                            <div class="level-right"><!--
                                                <a class="icon is-medium has-text-grey-light tt-copy-btn" title="copy"  onclick="return copyText(event)"><i class="fas fa-copy tt-clickable"></i></a> -->
                                                {{!-- <img src="https://i.ibb.co/C7T5thb/qr-code.jpg" class="image" /> --}}
                                            </div>
                                        </div>
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="">
                                                    <p class="bank_transfer__label is-size-5 has-text-grey">Số điện thoại</p>
                                                    <p class="bank_transfer__value is-size-4" id="momo_owner_phone">0394919200</p>
                                                </div>
                                            </div>
                                            <div class="level-right">
                                                <a class="icon is-medium has-text-grey-light tt-copy-btn btn" title="copy" data-clipboard-target="#momo_owner_phone"><i class="fas fa-copy tt-clickable"></i></a>
                                            </div>
                                        </div>
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="">
                                                    <p class="bank_transfer__label is-size-5 has-text-grey-light">Số tiền</p>
                                                    <p class="bank_transfer__value is-size-4">{{fee}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="level">
                                            <div class="level-left">
                                                <div class="">
                                                    <p class="bank_transfer__label is-size-5 has-text-grey">Nội dung chuyển khoản <i class="fas fa-exclamation-circle has-text-primary"></i></p>
                                                    <p class="bank_transfer__value is-size-4 has-text-weight-bold">
                                                        finpub {{fp_post_code}}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="level-right">
                                                <a class="btn icon is-medium has-text-grey-light tt-copy-btn" title="copy" data-clipboard-text="finpub {{fp_post_code}}"><i class="fas fa-copy tt-clickable"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="level">
                                            <div class="level-right image"><!--
                                                <a class="icon is-medium has-text-grey-light tt-copy-btn" title="copy"  onclick="return copyText(event)"><i class="fas fa-copy tt-clickable"></i></a> -->
                                                <img src="https://i.ibb.co/C7T5thb/qr-code.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input id="clipboard" style="position: absolute; left: -9999px" readonly />
                            </div>
                        </div>
                        <div class="card-content" id="payment-content-unauthenticated" style="display:none">
                            <div>Đây là nội dung có trả tiền. Xin hãy
                                <a id='loginPaymentBtn'>đăng nhập</a> để xem thông tin thanh toán
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{/if}}