<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{meta_title}}</title>

	<meta name="HandheldFriendly" content="True">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<link rel="shortcut icon" href="{{asset "/favicon.ico"}}">  
  	
	<link rel="stylesheet" href="{{asset "css/screen.css"}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CUbuntu:400,700">
	<style>
		{{!-- hacky way to disable bulmin list-style --}}
		ul {
			list-style: disc;
		}
		.hidden {
			display: none !important;
			visibility: hidden !important;
		}
		.image {
			width: 100%;
		}

		.user-info {
			position: relative;
			clear: right;
			float: left;
			top: -25px;
			left: 7px;
			font-size: smaller;
			color: grey;
		}

		@media only screen and (max-width: 768px) {
			.user-info {
				top: -11px;
			}
		}

		#logo-navigation {
			padding-top: 5px;
			margin-right: 10px;
    		width: 47px;
			float: left;
		}

		#main-navigation {
			float: left !important;
		}

		#authentication {
			margin-right: 100px;
			float: right;
		}
		.mobile-authentication {
			display: none;
		}

		{{!-- hiding login button in smaller screen --}}
		@media (max-width: 991px) {
			#authentication {
				display: none;
			}

			.mobile-authentication {
				display: block;
			}
		}

	</style>

	<script>
		{{> config}}
	</script>

	{{ghost_head}}

	{{#is "post"}}
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>  
	  	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	  	<link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
  	{{/is}}
</head>
<body class="{{body_class}}">

	<div id="wrapper">

		{{navigation}}

		{{#is "home"}}
			{{> featured-posts}}
		{{/is}}

		{{{body}}}

		{{> media-feed}}

		{{> footer}}

	</div>

	{{ghost_foot}}

	{{^if @member}}
		{{> subscribe-form}}
	{{/if}}

	<script src="{{asset "js/jquery-2.1.4.min.js"}}"></script>
	<script src="{{asset "js/slick.min.js"}}"></script>
	<script src="{{asset "js/velocity.min.js"}}"></script>
	<script src="{{asset "js/jquery.fitvids.js"}}"></script>
	<script src="{{asset "js/jquery.ghostrelated.min.js"}}"></script>
	<!-- <script src="{{asset "js/instafeed.min.js"}}"></script> -->
	<script src="{{asset "js/functions.js"}}"></script>
	<script type="text/javascript">

		// console.log("setting finpub");

		// window.onFinpubReady = function(finpub) {

		// 	var clipboard = new ClipboardJS('.btn'); // initialize clipboard
		// 	clipboard.on('success', function(e) {
		// 		alert("Thông tin đã được copy");
  //   			e.clearSelection();
		// 	});

		// 	window.hasLoggedIn = false;
		// 	finpub.init(window.location);

		// 	function hide(id) {
		// 		var paymentEl = document.getElementById(id);
		// 		if (paymentEl) {
		// 			paymentEl.style.display = 'none';
		// 		}
		// 	}

		// 	function show(id) {
		// 		var paymentEl = document.getElementById(id);
		// 		if (paymentEl) {
		// 			paymentEl.style.display = 'block';
		// 		}
		// 	}
		// 	/**
		// 	Show payment guide depends on user authentication status
		// 	*/
		// 	function refereshPaymentContent() {
		// 		var user = window.finpub.currentUser();
		// 		if (!user) {
		// 			show('payment-content-unauthenticated');
		// 			hide('payment-content-authenticated');
		// 			setupLoginBtn('loginPaymentBtn');
		// 		}
		// 		else{
		// 			hide('payment-content-unauthenticated');
		// 			show('payment-content-authenticated');
		// 		}
		// 	}

		// 	function refreshLoginBtnWithId(id) {
		// 		let loginBtn = document.getElementById(id);
		// 		loginBtn.innerText = window.hasLoggedIn ? "Đăng xuất" : "Đăng nhập";
		// 	}

		// 	function refreshLoginBtn() {
		// 		refreshLoginBtnWithId('loginBtn');
		// 		refreshLoginBtnWithId('loginMobileBtn');
		// 	}

		// 	function refreshUserProfileWithId(user, id) {
		// 		let userInfo = document.getElementById(id)
		// 		if (!userInfo) {
		// 			console.warn('User Info element could not be found');
		// 			return;
		// 		}
		// 		if (user) {
		// 			userInfo.innerText = user.name;
		// 		} else {
		// 			userInfo.innerText = "";
		// 		}
		// 	}

		// 	function refreshUserProfile(user) {
		// 		refreshUserProfileWithId(user, 'user-info');
		// 		refreshUserProfileWithId(user, 'user-info-mobile');
		// 	}

		// 	function userHasLogin(user) {
		// 		if (user) {
		// 			console.log("User has logged in");
		// 			window.hasLoggedIn = true;
		// 			refreshLoginBtn();
		// 			refreshUserProfile(user)
		// 			refereshPaymentContent();
		// 		}
		// 		else {
		// 			console.warn("Auth request success but 'user' is not returend??");
		// 		}
		// 	}

		// 	function userHasLogout() {
		// 		window.hasLoggedIn = false;
		// 		refreshLoginBtn();
		// 		refreshUserProfile();
		// 		refereshPaymentContent();
		// 	}

		// 	function setupLoginBtn(id) {
		// 		let loginBtn = document.getElementById(id);
		// 		if (loginBtn) {
		// 			loginBtn.addEventListener('click', e => {
		// 				e.preventDefault();
		// 				e.stopPropagation();
		// 				if (window.hasLoggedIn) {
		// 					finpub.signout(userHasLogout);
		// 				}
		// 				else {
		// 					finpub.signin(userHasLogin);
		// 				}
		// 			});
		// 		}
		// 	}

		// 	setupLoginBtn('loginBtn');
		// 	setupLoginBtn('loginMobileBtn');
		// 	console.log("onFinpubReady");
		// 	var loginPromise = finpub.getLoginInfo()
		// 	loginPromise.then(user => {
		// 		if (user) {
		// 			userHasLogin(user);
		// 		}
		// 		else {
		// 			console.warn("Auth request success but 'user' is not returend??");
		// 		}
		// 	})
		// 	loginPromise.catch(e => {
		// 		userHasLogout();
		// 	})

		// };

	</script>
	
	{{> facebook}}
	{{> disqus}}	

</body>
</html>