<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{meta_title}}</title>

	<meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
	<link rel="stylesheet" href="{{asset "css/screen.css"}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700%7CUbuntu:400,700">
	<style>
		{{!-- hacky way to disable bulmin list-style --}}
		ul {
			list-style: disc;
		}
		.hidden {
			display: none !important;
			visibility: hidden !important;
		}
		.image {
			width: 100%;
		}

		.user-info {
			position: relative;
			clear: right;
			float: left;
			top: -25px;
			left: 7px;
			font-size: smaller;
			color: grey;
		}

		@media only screen and (max-width: 768px) {
			.user-info {
				top: -11px;
			}
		}
	</style>

	<script>
		{{> config}}
	</script>

	{{ghost_head}}
</head>
<body class="{{body_class}}">

	<div id="wrapper">

		{{navigation}}

		{{#is "home"}}
			{{> featured-posts}}
		{{/is}}

		{{{body}}}

		{{> media-feed}}

		{{> footer}}

	</div>

	{{ghost_foot}}

	<script src="{{asset "js/jquery-2.1.4.min.js"}}"></script>
	<script src="{{asset "js/slick.min.js"}}"></script>
	<script src="{{asset "js/velocity.min.js"}}"></script>
	<script src="{{asset "js/jquery.fitvids.js"}}"></script>
	<script src="{{asset "js/jquery.ghostrelated.min.js"}}"></script>
	<script src="{{asset "js/instafeed.min.js"}}"></script>
	<script src="{{asset "js/functions.js"}}"></script>
	<script type="text/javascript">

		window.nativeFetch = fetch;

		jQuery(document).ready( function($) {
			$('#phonenumber').on('input', function(){
				console.log('input change', $(this).val())
			});
		});

		function changePaymentType(e) {
			e.preventDefault();
			e.stopPropagation();
			if (e.currentTarget.className.indexOf('is-active') < 0) {
				// set it as active.
				var dom = e.currentTarget,
					parent = e.currentTarget.parentElement,
					active = parent.querySelector('.is-active');
				active.className = active.className.replace('is-active', '');
				dom.className += ' is-active';
				var payType = dom.dataset['paymentType'];
				var allPayments = document.querySelectorAll('.payment-body');
				for (var i = 0; i < allPayments.length; i++) {
					var p = allPayments[i];
					// if (p.className.indexOf(payType.toLowerCase()) < 0)
					//     p.style.display = 'none';
					// else
					//     p.style.display = 'block';
					if (p.dataset['paymentType'] === payType) {
						p.className = p.className.replace('hidden');
					}
					else {
						if (p.className.indexOf('hidden') < 0)
							p.className += ' hidden';
					}
				}
				// Update the value of payment type
				var payTypeInput = document.getElementById('id_payment_type');
				payTypeInput.value = payType;
			}
			return false;
		}

		function copyToClipboard(val) {
			console.log('copy to clipboard', val)
			var dom = document.getElementById('clipboard');
			dom.value = val;
			dom.select();
			document.execCommand('copy');
			console.log('done copy');
		}

		function copyText(event) {
			event.stopPropagation();
			event.preventDefault();
			var dom = event.currentTarget,
				parent = dom.parentElement.parentElement;

			var contentNode = parent.querySelector('.bank_transfer__value');
			copyToClipboard(contentNode.innerText);
			return false;
		}
		console.log("setting finpub");
		window.onFinpubReady = function(finpub) {
			window.hasLoggedIn = false;
			finpub.init(window.location);

			function refreshLoginBtn() {
				let loginBtn = document.getElementById('loginBtn');
				loginBtn.innerText = window.hasLoggedIn ? "Logout" : "Login";
			}

			function refreshUserProfile(user) {
				let userInfo = document.getElementById('user-info')
				if (!userInfo) {
					console.warn('User Info element could not be found');
					return;
				}
				if (user) {
					userInfo.innerText = user.email;
				} else {
					userInfo.innerText = "";
				}
			}

			function setupLoginBtn() {
				let loginBtn = document.getElementById('loginBtn');
				if (loginBtn) {
					loginBtn.addEventListener('click', e => {
						e.preventDefault();
						e.stopPropagation();
						if (window.hasLoggedIn) {
							finpub.signout(function(info) {
								console.log("User has logged out successfully", info);
								window.hasLoggedIn = false;
								refreshLoginBtn();
								refreshUserProfile();
							});
						}
						else {
							finpub.signin(function(user) {
								if (user) {
									console.log("User has logged in successfully", user);
									window.hasLoggedIn = true;
									document.getElementById('user-info').innerText = user.email;
									refreshLoginBtn();
									refreshUserProfile(user);
								}
							});
						}
					});
				}
			}

			setupLoginBtn();
			console.log("onFinpubReady");
			var loginPromise = finpub.getLoginInfo()
			loginPromise.then(user => {
				if (user) {
					console.log("User has logged in");
					window.hasLoggedIn = true;
					refreshLoginBtn();
					refreshUserProfile(user)
				}
				else {
					console.warn("Auth request success but 'user' is not returend??");
				}
			})
			loginPromise.fail(e => {
				console.log("User has not logged in");
				window.hasLoggedIn = false;
				refreshLoginBtn();
				refreshUserProfile()
			})

		};

	</script>
	{{> facebook}}
	{{> disqus}}

</body>
</html>