{{!< default}}

{{#post}}
<div id="hero"{{#if feature_image}} style="background-image: url('{{img_url feature_image}}')"{{/if}}>
	<div id="hero-mask"></div>
	<div class="hero-content">
		<h1 class="hero-title">{{title}}</h1>
		<span class="cat-links">
			{{tags separator=""}}
		</span>
	</div>
</div>
{{/post}}

<div id="content" class="container">
 	<div class="row">
 		<div class="col-md-8 col-md-offset-2">
 			<div id="primary" class="content-area">
 				<main id="main" class="site-main">
 					{{#post}}
					<article class="post no-sidebar">
						<div class="entry-meta clearfix">
							<a href="{{primary_author.url}}">
								<img class="author-image" src="{{img_url primary_author.profile_image}}" alt="{{primary_author.name}}">
							</a>
							<div class="right">
								<span class="author-name">
									<a href="{{primary_author.url}}">
										{{primary_author.name}}
									</a>
								</span>
								<span class="entry-date" title="{{date format="DD MMMM YYYY"}}"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
								<span class="entry-share">
									<i class="fa fa-share-alt"></i>
									<span class="popup">
										<a class="link twitter" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"><i class="fa fa-twitter"></i></a>
										<a class="link facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"><i class="fa fa-facebook"></i></a>
										<a class="link google" href="https://plus.google.com/share?url={{url absolute="true"}}"><i class="fa fa-google-plus"></i></a>
									</span>
								</span>
							</div>
						</div>
						<div class="entry-header">
							<h2 class="entry-title"><a href="{{url}}" rel="bookmark">{{title}}</a></h2>
						</div>
						<div class="entry-content fp-entry-content">						
							{{content}}
						</div>
					</article>
					{{> payment}}

					<div id="about-author">
						<a href="{{primary_author.url}}">
							<div class="author-image fp-author-image">
								<img src="{{img_url primary_author.profile_image}}" alt="{{primary_author.name}}">
							</div>
						</a>
						<div class="author-info">
							<h4 class="author-name align-center">{{primary_author.name}}</h4>
							<p class="author-bio txt-center">{{primary_author.bio}}</p>
							<div class="author-meta align-center">
								{{#if primary_author.location}}<span><i class="fa fa-map-marker"></i> {{primary_author.location}}</span>{{/if}}
								{{#if primary_author.website}}<span><i class="fa fa-globe"></i> <a href="{{primary_author.website}}">{{primary_author.website}}</a></span>{{/if}}
							</div>
						</div>
					</div>

					{{#get "posts" include="authors" limit="2" filter="id:-{{id}}+tag:{{primary_tag.slug}}" as |related|}}	
						<div id="related-posts" class="row fp-related-posts">																	  
						    <h2 class="related-title fp-section-header">Bài liên quan</h2>
						    {{#foreach related}}			
						    	<div class="article-card col-md-6">
						    		<div class="article-card__img">
							    		<a href="{{url}}" rel="bookmark">
											
											<img src="{{img_url feature_image}}" alt="{{title}}">
											
										</a>
									</div>
									<div class="article-card__title">
										<a href="{{url}}"><h4>{{title}}</h4></a>
									</div>
									<div class="article-card__desc">
										{{excerpt words="13"}}...
									</div>
						    	</div>
						      	
						    {{/foreach}}						  						
						</div>
					{{/get}}

					<div id="disqus_thread"></div>
					{{/post}}
 				</main>
 			</div>
 		</div>
 	</div>
</div>
