{{!< default}}

{{#post}}
<div id="hero"{{#if feature_image}} style="background-image: url('{{img_url feature_image}}')"{{/if}}>
	<div id="hero-mask"></div>
	<div class="hero-content">
		<h1 class="hero-title">{{title}}</h1>
		<span class="cat-links">
			{{tags separator=""}}
		</span>
	</div>
</div>
{{/post}}

<div id="content" class="container">
 	<div class="row">
 		<div class="col-md-8 col-md-offset-2">
 			<div id="primary" class="content-area">
 				<main id="main" class="site-main">
 					{{#post}}
					<article class="post no-sidebar">
						<div class="entry-meta clearfix">
							<img class="author-image" src="{{img_url primary_author.profile_image}}" alt="{{primary_author.name}}">
							<div class="right">
								<span class="author-name">{{primary_author.name}}</span>
								<span class="entry-date" title="{{date format="DD MMMM YYYY"}}"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
								<span class="entry-share">
									<i class="fa fa-share-alt"></i>
									<span class="popup">
										<a class="link twitter" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"><i class="fa fa-twitter"></i></a>
										<a class="link facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"><i class="fa fa-facebook"></i></a>
										<a class="link google" href="https://plus.google.com/share?url={{url absolute="true"}}"><i class="fa fa-google-plus"></i></a>
									</span>
								</span>
							</div>
						</div>
						<div class="entry-header">
							<h2 class="entry-title"><a href="{{url}}" rel="bookmark">{{title}}</a></h2>
						</div>
						<div class="entry-content">
							{{content}}
						</div>
					</article>

					<div id="about-author">
						<div class="author-image">
							<img src="{{img_url primary_author.profile_image}}" alt="{{primary_author.name}}">
						</div>
						<div class="author-info">
							<h4 class="author-name align-center">{{primary_author.name}}</h4>
							<p class="author-bio">{{primary_author.bio}}</p>
							<div class="author-meta align-center">
								{{#if primary_author.location}}<span><i class="fa fa-map-marker"></i> {{primary_author.location}}</span>{{/if}}
								{{#if primary_author.website}}<span><i class="fa fa-globe"></i> <a href="{{primary_author.website}}">{{primary_author.website}}</a></span>{{/if}}
							</div>
						</div>
					</div>

					<div id="related-posts" class="row"></div>

					<div id="disqus_thread"></div>
					{{/post}}
 				</main>
 			</div>
 		</div>
 	</div>
</div>
